<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636200481801-0mu6copm6ijmfkp0ketvpbaq64j7eocb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636200481801-0mu6copm6ijmfkp0ketvpbaq64j7eocb</string>
	<key>API_KEY</key>
	<string>AIzaSyAUlut2Kw3PaVfGiPKwYJ4bvEjqJFRYdqk</string>
	<key>GCM_SENDER_ID</key>
	<string>636200481801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.liftsforge.app</string>
	<key>PROJECT_ID</key>
	<string>ai-fitness-coach-c0d30</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-fitness-coach-c0d30.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636200481801:ios:3136097cb9013aca2af4d8</string>
</dict>
</plist>